.newLinkForm {
  --form-bg: var(--clr-neutral-300);
  padding: 1rem;
  background-color: var(--form-bg);
  border-radius: var(--br-regular);
  display: flex;
  gap: 0.5rem;
  justify-content: stretch;
}

.field {
  flex-grow: 1;
}
