.spinnerContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.spinnerContainer.large {
  flex-direction: column;
  padding: 5rem;
}

.spinnerIcon {
  animation: 1s linear spin infinite;
}

@keyframes spin {
  0% { rotate: 0deg; }
  100% { rotate: 360deg; }
}