.dropdownMenuContainer {
  position: relative;
}

.dropdownMenu {
  position: absolute;
  right: 0;
  width: max-content;
}

.dropdownMenuItem {
  border-radius: 0;
  width: 100%;
}

.danger {
  color: var(--clr-danger-400);
}
