.header {
  background-color: var(--clr-primary-400);
  padding: 0.5rem;
}

.logo {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 0.2rem 1rem;
  font-size: 1.5rem;
  color: white;
  border-radius: var(--br-small);
}

.logo span {
  margin-left: 0.2rem;
  font-weight: var(--fw-bold);
}


.logo:hover, .logo:focus-visible {
  background-color: var(--clr-primary-300);
}