.header {
  background-color: var(--clr-primary-400);
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  text-decoration: none;
  color: var(--clr-neutral-900);
  padding: 0.2rem 1rem;
  font-size: 1.5rem;
  border-radius: var(--br-small);
  align-items: center;
}

.logo span {
  font-weight: var(--fw-bold);
}


.logo:hover, .logo:focus-visible {
  background-color: var(--clr-primary-300);
}